#chart svg{
position: absolute;
filter: drop-shadow( 5px 5px 5px rgba(0,0,0,.25) );
}

.container{
display: flex;
justify-content: center;
margin-left: -50%;
margin-top: 7%;
}

g path{
opacity: .8 ;
}

g .hovered {
cursor: pointer;
opacity: 2 !important;
}